# Nah. É só para poluir o usuário final.
# Nada importante.
modules/__pycache__

# Você não precisa do meu saving :P
state/save.json

# Você não precisa do arquivo de configurações
# apenas crie o seu!
config/config.json
